<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    hi!
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect();
        socket.emit('enter', { 'hello': 'world' })
    </script>
  </body>
</html>
